/* CSS Reset */

* {
    margin: 0em;
    padding: 0em;
}


/* essential elements */

body {
    background-color: white;
    max-width: 82em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 4em;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 2.5em;
    border-bottom: 2px solid #EDEDED;
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-bottom: 1em;
    margin-top: 2em;
    padding-bottom: 0.25em;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

p {
    font-family: 'Lora', serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #1AC5E8;
}

a:hover {
    color: #FF739C;
    transition: 0.1s linear;
}

@media screen and (max-width: 45em) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
}


/* header */

header {
    text-align: center;
    margin-top: 2.5em;
    margin-left: 1em;
    margin-right: 1em;
}

header p {
    margin-top: 1em;
}


/* manual grid */

.manual-grid-section {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    column-count: 2;
    column-gap: 1em;
}

@media screen and (max-width: 45em) {
    .manual-grid-section {
        padding-left: 0em;
        padding-right: 0em;
    }
    .manual-grid-item {
        border-radius: 0;
    }
}

@media screen and (max-width: 60em) {
    .manual-grid-section {
        column-count: 1;
    }
}


/* manual grid item */

.manual-grid-item {
    width: 100%;
    background-color: #f7f7f7;
    display: inline-block;
    margin-bottom: 1em;
    border-radius: 0.25em;
}

.manual-grid-item h3 {
    margin-top: 0.75em;
    font-size: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.manual-grid-item .tagline {
    font-size: 1em;
    margin-top: 0.1em;
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-style: italic;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.manual-grid-item .description {
    margin-top: 0.5em;
    color: #adadad;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.manual-grid-item img {
    width: 6.5em;
    margin: 1em;
    float: left;
}


/* buttons */

.button {
    margin: 1em;
    float: right;
}

.button p {
    display: inline;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.button a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    border-radius: 0.25em;
    background-color: #BECED1;
}

.button a:hover {
    background-color: #FF739C;
    transition: 0.1s linear;
}

.button img {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}


/* footer */

footer {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2.5em;
    color: lightgrey;
}